.passage{
    width: 1000px;
    margin:0 auto;
    background-color: #fff;
    border:1px solid #e1e1e1;
    border-top: 0px;
    border-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.title{

margin-top: 30px;

font:bold 20px/42px 微软雅黑;

color:#333;

padding-left:0px;

border-left:0px;

text-align:center;

/*margin:30px 0;*/
}
.time,.author{
    top: 52px;
    font-size: 14px;
    color: #999;
    /*display: inline-block;*/
    font-family: Arial;
    margin-bottom: 10px;
    text-align:center;
}
